body {
    background-color: #f4f9f4;
}

.correct-answer{
    font-size: 18px;
    color: white;
    font-weight: 100;
}

.dashboard-question {
    min-height: 300px;
}

.question-image{
    margin-top: 10px;
}

.question-image2{
    margin-top: 50px;
}

.ask{
    padding-top: 20px;
}

@media screen and (min-width: 320px) {
    img {
        width: 25%;
    }

    .question-box {
        flex-direction: column;
    }

    .dashboard-question {
        background-color: #8aae92;
        width: 100vw;
    }
  
    .dashboard-ask {
      text-align: center;
      color: #f0f0f0;
      background-color: #616161;
      padding: 58px 50px;
      width: 100vw;
    }
}

  @media screen and (min-width: 640px) {
    img {
        width: 15%;
    }

    .question-box {
        flex-direction: column;
    }

    .dashboard-question {
        background-color: #8aae92;
        padding: 45px 50px;
        width: 100vw;
        min-height: 400px;
    }
  
    .dashboard-ask {
      text-align: center;
      color: #f0f0f0;
      background-color: #616161;
      padding: 58px 50px;
      width: 100vw;
      min-height: 400px;
    }
  }

  @media screen and (min-width: 960px) {
    .dashboard {
        width: 100%;
    }

    img {
        width: 20%;
    }

    .dashboard-question h3 {
        text-align: center;
        font-size: 1rem;
    }
    
    .dashboard-ask h3 {
        text-align: center;
        margin: 5px 0;
    }
    
    .question-box {
        display: flex;
        flex-direction: row;
        /* height: 60vh; */
    }

    .dashboard-question {
        background-color: #8aae92;
        padding: 58px 50px;
        width: 50vw;
        min-height: 500px;

    }
  
    .dashboard-ask {
      text-align: center;
      color: #f0f0f0;
      background-color: #616161;
      padding: 58px 50px;
      width: 50vw;
      min-height: 500px;

    }
  }
