body {
    background-color: #f4f9f4;
}

img {
    /* width: 40%; */
    height: 40%;
  }

  .question-box {
      display: flex;
      justify-content: space-between;
  }

  .dashboard-question h3 {
      text-align: center;
  }

  .dashboard-question {
      background-color: #8aae92;
      padding: 89px 50px;
      width: 50%;
  }

  .dashboard-ask {
    text-align: center;
    color: #f0f0f0;
    background-color: #616161;
    padding: 58px 50px;
    width: 50%;
  }

  .dashboard-ask h3 {
      text-align: center;
      margin: 5px 0;
  }