input {
    border-radius: 3px;
    background-color: lightgray;
    margin: 2px;
    padding: 5px;
    width: 55%;
    direction: ltr;
}

.form-error {
  color: black;
  font-weight: bold; 
  font-size: 15px;
}


.error-symbol {
  width: 15px;
  height: 15px;
  margin-right: 2px;
}

::-webkit-input-placeholder { 
    font-style: italic;
}