.home {
    background-color: #616161;
    border-radius: 10px;
    width: 88%;
    margin: 5px auto;
    padding: 15px 0;
}

.landing {
    flex-grow: 2;
}

.home h2, .home h3 {
    color: #f0f0f0;
}

.landing .landing-p {
    color: #092a35;
    font-size: 20px;
    font-weight: bold;
}

.overlay {
    background-color: rgba(90, 90, 90, 0.2);
    background-image: url("https://imgur.com/l5gXEgt.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
  }

  .overlay2 {
    background-color: rgba(90, 90, 90, 0.2);
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
  }
