* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Crete Round', serif;
  color: #8aae92;
  text-shadow: 1px 2px 4px black;
  font-size: 50px;
  margin: 0 0;
}

ul {
   list-style: none;
}

button {
  cursor: pointer;
}

/* unvisited link */
a:link {
  color: navy;
}

/* visited link */
a:visited {
  color: navy;
}

/* mouse over link */
a:hover {
  color: purple;
  text-decoration: underline;
}

/* selected link */
a:active {
  color: black;
  text-decoration: underline;
}

/* MEDIA QUERIES */
/* 320, 640, 960*/

@media screen and (min-width: 640px) {
  .home {
    width: 65%;
  }
}

@media screen and (min-width: 960px) {
  .home {
    width: 50%;
  }
}

/* fonts, headers, register and login boxes and inputs, dashboard boxes, buttons, instructions  */
/* @media screen and (max-width: 600px) {
  h1 {
    font-size: 5rem;
  }
}


question-box media query: -> flex-direction: column;

media query for -> and dash ques and dash answer width 100%
*******
    

@media (min-width: 400px) {
  h1 {
      font-size: 1.6rem;
  }
}

@media (min-width: 600px) {
  h1 {
      font-size: 1.7rem;
  }
}

@media (min-width: 800px) {
  h1 {
      font-size: 2.0rem;
  }
}

@media (min-width: 1000px) {
  h1 {
      font-size: 2.2rem;
  }
} */





